
<h1>Find your cocktail</h1>

<% @cocktails.each do |cocktail| %>
  <li><%= link_to cocktail.name, cocktail_path(cocktail) %><%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %></li>
  <% end %>

<%= link_to 'Add your very own cocktail', new_cocktail_path %>
